<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Medici">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_medici_launcher"
        android:label="Medici"
        android:roundIcon="@mipmap/ic_medici_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.Medici.SilverPaintCatalogue"></activity>
        <activity android:name="com.example.Medici.GoldPaintCatalogue" />
        <activity android:name="com.example.Medici.WhitePaintCatalogue" />
        <activity android:name="com.example.Medici.BlackPaintCatalogue" />
        <activity android:name="com.example.Medici.BrownPaintCatalogue" />
        <activity android:name="com.example.Medici.PinkPaintCatalogue" />
        <activity android:name="com.example.Medici.PurplePaintCatalogue" />
        <activity android:name="com.example.Medici.BluePaintCatalogue" />
        <activity android:name="com.example.Medici.YellowPaintCatalogue" />
        <activity android:name="com.example.Medici.OrangePaintCatalogue" />
        <activity android:name="com.example.Medici.RedPaintCatalogue" />
        <activity android:name="com.example.Medici.PaintColour" />
        <activity android:name="com.example.Medici.GreenPaintCatalogue" />
        <activity android:name="com.example.Medici.GreyPaintCatalogue" />
        <activity android:name="com.example.Medici.PaintSummary" />
        <activity android:name="com.example.Medici.ColourSchemeGenerator" />
        <activity android:name="com.example.Medici.HomeScreen" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.Medici.LaunchScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Medici.ColourDetector" />
        <activity android:name="com.example.Medici.MediciCamera" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>